### ***Importing Python libraries***

In [ ]:
import pandas as pd

### ***Exploring the dataset***

In [ ]:
df = pd.read_csv("vice_articles_10k.csv")

In [ ]:
df.head()

,type,date,title,author,header,content,url
0,Tech,"08 March 2023, 2:59pm",Olympic Pool-Sized Asteroid Has ‘Very Small Ch...,Becky Ferreira,Newly-discovered asteroid 2023DW has a 1-in-62...,An asteroid about the size of an Olympic swimm...,https://www.vice.com/en/article/pkaezv/asteroi...
1,Tech,"08 March 2023, 6:18pm",Russian Soldiers Are Attacking Ukrainians With...,Matthew Gault,"Russia is running out of ammunition, and some ...",Russian soldiers are attacking fortified posit...,https://www.vice.com/en/article/n7ej4w/russian...
2,Tech,"08 March 2023, 2:53pm",Feds Investigating Tesla For Making Cars With ...,Aaron Gordon,Some Tesla Model Ys are being shipped without ...,"Three years ago, “a good steering wheel that d...",https://www.vice.com/en/article/y3wmnx/feds-in...
3,Tech,"08 March 2023, 7:58pm",One 'Super-Earth' Could Destroy Our Own Planet...,Becky Ferreira,A super-Earth existing in our solar system is ...,What if a beefed-up version of Earth were sudd...,https://www.vice.com/en/article/qjvdwv/one-sup...
4,Tech,"08 March 2023, 2:00pm",CYBER: The Great Balloon Panic Has Been Weird ...,Matthew Gault,The amateur ballooning community has experienc...,"On February 4, 2023, an F-22 fighter jet commi...",https://www.vice.com/en/article/epvgpe/cyber-t...

In [ ]:
df.tail()

,type,date,title,author,header,content,url
10066,Entertainment,"12 November 2019, 5:01pm",Disney+ Launched Today and It's Already Down,River Donaghey,Sorry to everyone trying to watch 'The Mandalo...,"The are off to a bumpy start, everybody. Dis...",https://www.vice.com/en/article/3kxm73/is-disn...
10067,Entertainment,"12 November 2019, 4:35pm",I'm Not Crying at Alex Trebek Choking Up on Je...,Manisha Krishnan,Trebek is resuming treatment for Stage 4 pancr...,With the reliable slog of crap we’re exposed t...,https://www.vice.com/en/article/ywa9x5/im-not-...
10068,Entertainment,"12 November 2019, 6:38pm",Here’s a Sneak Peek of Netflix’s New Series Ba...,Alex Zaragoza,'The Walking Dead's' Christian Serratos stars ...,Get your sparkly purple jumpsuit and your worn...,https://www.vice.com/en/article/3kxmj3/heres-a...
10069,Entertainment,"13 November 2019, 3:09pm",Charli XCX's New Netflix Show Sees Her Prime a...,Lauren O'Neill,'I'm With the Band: Nasty Cherry' fuses music ...,I'm With the Band: Nasty Cherry. TV shows abo...,https://www.vice.com/en/article/qvg9ab/charli-...
10070,Entertainment,"14 November 2019, 6:50pm",All the Lies I Learned About Sex From Movies a...,Mica Lemiski,"I didn't learn much from sex ed or my parents,...","Growing up in the 90s and 2000s, the most infl...",https://www.vice.com/en/article/qvgq45/all-the...

In [ ]:
df.describe()

,type,date,title,author,header,content,url
count,10071,10071,10071,10068,10070,10058,10071
unique,5,9101,10053,1830,10063,10056,10071
top,Tech,"26 May 2020, 12:00pm",The VICE Morning Bulletin,Matthew Gault,Forty percent of Canada's petrochemical indust...,Wildlife painter 's memories have a profound ...,https://www.vice.com/en/article/pkaezv/asteroi...
freq,3985,9,9,519,3,2,1

### ***Checking and dropping of missing values***

In [ ]:
df.isna().sum()

type        0
date        0
title       0
author      3
header      1
content    13
url         0
dtype: int64

In [ ]:
df.dropna(inplace=True)

In [ ]:
df.isna().sum()

type       0
date       0
title      0
author     0
header     0
content    0
url        0
dtype: int64

### ***Checking and dropping of duplicate values***

In [ ]:
df[df['title'].duplicated()]['title'].value_counts()

The VICE Morning Bulletin                                                     8
How to Help a Friend in an Abusive Relationship                               1
100 Easy Ways to Make the World Better for Trans People                       1
Nature-Loving Artist Translates Wild Encounters onto Canvas                   1
Giant Hands Emerge From a Venice Canal to Raise Climate Change Awareness      1
This Drinkable Water Bubble Could Kill the Plastic Bottle Once and For All    1
Venice Could Vanish Underwater Within a Century                               1
The Vice Morning Bulletin                                                     1
The VICE Morning Bulletin                                                     1
The Chemical Valley                                                           1
Name: title, dtype: int64

In [ ]:
vice_articles = pd.read_csv('vice_articles_10k.csv')

In [ ]:
vice_articles = vice_articles.drop_duplicates(subset='title', keep='first')

In [ ]:
vice_articles = pd.concat([vice_articles, vice_articles[vice_articles['title'] == 'keep_this']])

In [ ]:
vice_articles.duplicated().sum()

0

In [ ]:
num_duplicates = df.duplicated().sum()

In [ ]:
print("Number of duplicate rows: ", num_duplicates)

Number of duplicate rows:  0

### ***Checking the number of words per article***

In [ ]:
df['word count'] = df['content'].str.split().str.len()

In [ ]:
df.head()

,type,date,title,author,header,content,url,word count
0,Tech,"08 March 2023, 2:59pm",Olympic Pool-Sized Asteroid Has ‘Very Small Ch...,Becky Ferreira,Newly-discovered asteroid 2023DW has a 1-in-62...,An asteroid about the size of an Olympic swimm...,https://www.vice.com/en/article/pkaezv/asteroi...,642
1,Tech,"08 March 2023, 6:18pm",Russian Soldiers Are Attacking Ukrainians With...,Matthew Gault,"Russia is running out of ammunition, and some ...",Russian soldiers are attacking fortified posit...,https://www.vice.com/en/article/n7ej4w/russian...,515
2,Tech,"08 March 2023, 2:53pm",Feds Investigating Tesla For Making Cars With ...,Aaron Gordon,Some Tesla Model Ys are being shipped without ...,"Three years ago, “a good steering wheel that d...",https://www.vice.com/en/article/y3wmnx/feds-in...,221
3,Tech,"08 March 2023, 7:58pm",One 'Super-Earth' Could Destroy Our Own Planet...,Becky Ferreira,A super-Earth existing in our solar system is ...,What if a beefed-up version of Earth were sudd...,https://www.vice.com/en/article/qjvdwv/one-sup...,1102
4,Tech,"08 March 2023, 2:00pm",CYBER: The Great Balloon Panic Has Been Weird ...,Matthew Gault,The amateur ballooning community has experienc...,"On February 4, 2023, an F-22 fighter jet commi...",https://www.vice.com/en/article/epvgpe/cyber-t...,135

### ***Dropping articles whose word count is < 50***

In [ ]:
import csv
from collections import Counter

In [ ]:
column_index = 5
word_count = Counter()

In [ ]:
with open('vice_articles_10k.csv', 'r') as file:
    reader = csv.reader(file)
    for column in reader:
        words = column[column_index].split()
        word_count.update(words)

In [ ]:
print(word_count)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [ ]:
content = df[df['word count'] < 50]

In [ ]:
print(content)

                type                       date  \
2809            Tech    20 October 2021, 7:42pm
4548      World News  14 September 2022, 6:37pm
6640        Identity      01 April 2019, 8:33pm
6679        Identity      11 March 2019, 9:13pm
6880        Identity    22 January 2019, 3:57pm
7400        Identity    05 October 2018, 9:33am
7895     Environment    03 January 2019, 2:45pm
8062     Environment      03 March 2017, 9:42pm
8097     Environment   15 December 2016, 3:03pm
8119     Environment   21 November 2016, 7:50pm
8122     Environment    28 October 2016, 8:13pm
8129     Environment    21 October 2016, 8:21pm
8132     Environment    17 October 2016, 4:03pm
8133     Environment    06 October 2016, 6:40pm
8140     Environment  30 September 2016, 8:53pm
8142     Environment  23 September 2016, 9:19pm
8147     Environment  19 September 2016, 6:10pm
8151     Environment  08 September 2016, 1:44pm
8152     Environment  13 September 2016, 8:29pm
8265     Environment  28 September 2015, 6:58pm
8338     Environment    10 January 2015, 3:12pm
8413     Environment     01 April 2010, 12:00am
10040  Entertainment   19 November 2019, 4:50pm

                                                   title              author  \
2809           The Next Generation of Renewable Aircraft   Motherboard Staff
4548   Here Are All the Things People in the UK Can’t...    Magdaline Duncan
6640   Unearthing the Vibrant History of Black Queer ...          VICE Staff
6679   Finding Inspiration with Karley Sciortino and ...  Created with STARZ
6880   This NBA Player Is Standing Up for LGBTQ Equality          VICE Staff
7400          All the News You Need to Read This Morning          VICE Staff
7895     Breeding Cows that Burp Less to Save the Planet          VICE Staff
8062   Inside the Struggle of Brazil's Indigenous Peo...          VICE Staff
8097   Global Fish Stocks Are in Even Worse Shape Tha...          James Wilt
8119   The Climate Apocalypse Has Already Arrived for...          VICE Staff
8122   Meet the New Orleans Skaters Cleaning Up Lost ...          VICE Staff
8129   The Abandoned Industry Towns Threatening Briti...          VICE Staff
8132   A Canadian Island Is Being Swallowed Up by the...     Hilary Beaumont
8133   A Foul-Mouthed Nerd Explains How Justin Trudea...          Drew Brown
8140            Skating an Abandoned Nuclear Power Plant          VICE Staff
8142   The Story Behind California's Abandoned Lake i...          VICE Staff
8147   ​Justin Trudeau’s Climate Change Policy Leans ...         Jake Kivanç
8151   The Standing Rock Reservation's Fight Against ...          VICE Staff
8152          Inside the Illicit Pangolin Poaching Trade          VICE Staff
8265                             BC Is Burning - Trailer         Aaron  Mate
8338   A New Antibiotic Offers Hope in the Global War...          VICE Staff
8413                                         Kagomaniacs       Shintaro Kago
10040  Watch Dizzee Rascal and Yizzy Talk About Who S...          VICE Staff

                                                  header  \
2809   The airline industry is exploring how to make ...
4548   Bad luck for people who planned to cycle to th...
6640   Legacies in Motion unearths the stories of act...
6679   Broadly Hotline's Bunny Michael talks to Now A...
6880   We met Reggie at New York Pride where he march...
7400   Half of twenty-somethings have no savings, no ...
7895   VICE visited a farm where researchers use gene...
8062   On a new episode of 'RISE,' we meet the indige...
8097   New research suggests the number of fish caugh...
8119   The 60,000 Inuit people living in 53 communiti...
8122   On an all new episode of 'ABANDONED,' we head ...
8129   On an all new episode of 'ABANDONED,' Rick hea...
8132   The 400-plus Indigenous people who live on an ...
8133    What? Executive federalism doesn't get you hot?
8140   On an all new episode of 'ABANDONED', Rick inv...
8142   On an all new episode of 'ABANDONED', host Ric...
8147   From ambiguity on pipelines to carbon emission...
8151   On this episode of 'Daily VICE,' we talk to an...
8152   On this episode of 'Black Market: Dispatches',...
8265   The wettest place in North America is on fire—...
8338   Today: Venezuela's economic woes continue, a s...
8413                                  Emissions Trading.
10040  The pioneer and the newcomer are the latest gu...

                                                 content  \
2809   Our plane travel needs to become more sustaina...
4548   The UK is in a period of national mourning fol...
6640   Legacies in Motion unearths the stories of act...
6679   In this episode of Broadly Hotline, Now Apocal...
6880   NBA player Reggie Bullock became an advocate f...
7400                                –  –  –  –  –  –  –
7895   Cow farts and burps are a major source of gree...
8062   On an all new episode of  , we head to Brazil ...
8097   You might want to put down your   before readi...
8119   It's pretty easy to get apocalyptic when descr...
8122   On an all new episode of  , we head to New Orl...
8129   On an all new episode of  , Rick McCrank heads...
8132   When the remainder of Hurricane Matthew passed...
8133   Daddy Canada having a v important phone call p...
8140   On an all new episode of  , Rick McCrank explo...
8142   On an all new episode of   host Rick McCrank g...
8147   Photo via Facebook As Canadian parliament resu...
8151   On this episode of  , we meet up with artist B...
8152   On this episode of  , we investigate the poach...
8265   The wettest place in North America is on fire—...
8338   The   is a news roundup that looks beyond the ...
8413                                   EMISSIONS TRADING
10040  In the latest episode of Noisey's   series, gr...

                                                     url  word count
2809   https://www.vice.com/en/article/pkpekz/the-nex...          24
4548   https://www.vice.com/en/article/y3pngk/queen-d...          44
6640   https://www.vice.com/en/article/wjmmbw/unearth...          45
6679   https://www.vice.com/en/article/d3mek7/karley-...          35
6880   https://www.vice.com/en/article/bjq873/this-nb...          49
7400   https://www.vice.com/en/article/7x37a4/all-the...           7
7895   https://www.vice.com/en/article/qvqqd5/breedin...          39
8062   https://www.vice.com/en/article/xykxjj/inside-...          41
8097   https://www.vice.com/en/article/gvqmey/global-...          10
8119   https://www.vice.com/en/article/4w5nw9/the-arc...          16
8122   https://www.vice.com/en/article/kwk733/tonight...          37
8129   https://www.vice.com/en/article/dpky4v/tonight...          34
8132   https://www.vice.com/en/article/9b8v7y/a-canad...          33
8133   https://www.vice.com/en/article/bn3a5a/a-foul-...          38
8140   https://www.vice.com/en/article/yvep8v/tonight...          28
8142   https://www.vice.com/en/article/8geq3k/abandon...          40
8147   https://www.vice.com/en/article/dpkj7m/justin-...          38
8151   https://www.vice.com/en/article/qbnb5m/daily-v...          44
8152   https://www.vice.com/en/article/gqkv77/tonight...          30
8265   https://www.vice.com/en/article/9b8m57/bc-is-b...          21
8338   https://www.vice.com/en/article/qbe973/vice-ne...          41
8413   https://www.vice.com/en/article/5gde73/kagoman...           2
10040  https://www.vice.com/en/article/ywa74j/dizzee-...          37

In [ ]:
df.drop(df[df['word count'] < 50].index, inplace=True)

In [ ]:
df.describe()

         word count
count  10031.000000
mean     936.752667
std      686.724733
min       53.000000
25%      481.000000
50%      765.000000
75%     1180.000000
max     6049.000000

In [ ]:
df.describe(include=['O'])

,type,date,title,author,header,content,url
count,10031,10031,10031,10031,10031,10031,10031
unique,5,9062,10014,1823,10025,10029,10031
top,Tech,"26 May 2020, 12:00pm",The VICE Morning Bulletin,Matthew Gault,Forty percent of Canada's petrochemical indust...,Wildlife painter 's memories have a profound ...,https://www.vice.com/en/article/pkaezv/asteroi...
freq,3984,9,9,519,3,2,1

### ***Exporting the CSV file***

In [ ]:
df.to_csv('vice_articles_validated_v1.csv', index=False)