### ***Importing Python libraries***

In [ ]:
import pandas as pd
import numpy as np

### ***Exploring the dataset***

In [ ]:
df = pd.read_csv("un_articles70k_v1.csv")

In [ ]:
df.head()

,article_link,title,author,author_link,article_content,date_published,content_type,content_tags,content_tags_link
0,https://news.un.org/en/story/2023/03/1134602,Too many nations failing to investigate tortur...,UN Human Rights Monitoring Mission in Ukraine/...,NaN,States must be “primary responders” in torture...,2023-03-14T16:49:28-04:00,story,Prevention Of Torture,https://news.un.org/en/tags/prevention-torture
1,https://news.un.org/en/story/2023/03/1134582,"In Lebanon, UN deputy chief explores first-han...",ESCWA/Najib Dib,NaN,During a visit to a center for street children...,2023-03-14T15:54:39-04:00,story,Lebanon,https://news.un.org/en/tags/lebanon
2,https://news.un.org/en/story/2023/03/1134587,"Think local, says new FAO report, pointing tow...",© UNICEF/Zhanara Karimova,NaN,Eight UN agencies on Tuesday published a new r...,2023-03-14T14:55:21-04:00,story,Regional Overview Of Food Security And Nutriti...,https://news.un.org/en/tags/regional-overview-...
3,https://news.un.org/en/audio/2023/03/1134572,News in Brief 14 March 2023,WHO,NaN,This is the News in Brief from the United Nati...,2023-03-14T13:42:28-04:00,audio,"World Food Programme,Unhcr,Oecd High-Income Co...",https://news.un.org/en/tags/world-food-program...
4,https://news.un.org/en/story/2023/03/1134567,More than half of all Syrians going hungry: WFP,© WFP/Hussam Al Saleh,NaN,More than half of the population in Syria is f...,2023-03-14T12:51:14-04:00,story,Syria,https://news.un.org/en/tags/syria

In [ ]:
df.tail()

,article_link,title,author,author_link,article_content,date_published,content_type,content_tags,content_tags_link
70484,https://news.un.org/en/story/2002/10/47522,UN mission congratulates Bosnia and Herzegovin...,NaN,NaN,The United Nations Mission in Bosnia and Herze...,2002-10-07T00:00:00-04:00,story,"Bosnia And Herzegovina,Elections",https://news.un.org/en/tags/bosnia-and-herzego...
70485,https://news.un.org/en/story/2002/10/47532,Southern Africa urgently needs health services...,NaN,NaN,Four months after the first signs of an impend...,2002-10-07T00:00:00-04:00,story,"Food,Crisis","https://news.un.org/en/tags/food,https://news...."
70486,https://news.un.org/en/story/2002/10/47542,"With UN support, Afghanistan rolls out new cur...",NaN,NaN,"Afghanistan rolled out a new currency today, w...",2002-10-07T00:00:00-04:00,story,"Afghan,Unama","https://news.un.org/en/tags/afghan,https://new..."
70487,https://news.un.org/en/story/2002/10/47332,UN Counter-Terrorism Committee key tool in fig...,NaN,NaN,The United Nations CounterTerrorism Committee ...,2002-10-04T00:00:00-04:00,story,Terror,https://news.un.org/en/tags/terror
70488,https://news.un.org/en/story/2002/10/47312,Annan challenges countries to improve performa...,NaN,NaN,SecretaryGeneral Kofi Annan took his campaign ...,2002-10-04T00:00:00-04:00,story,"Millennium,Goals","https://news.un.org/en/tags/millennium,https:/..."

In [ ]:
df.describe(include=['O'])

,article_link,title,author,article_content,date_published,content_type,content_tags,content_tags_link
count,70489,70489,33572,70475,70489,70489,69632,69632
unique,70489,70415,8453,70470,30788,2,16957,16957
top,https://news.un.org/en/story/2023/03/1134602,Security Council extends mandate of UN peaceke...,UN Photo/Eskinder Debebe,The link between climate change and its impact...,2010-09-23T00:00:00-04:00,story,Iraq,https://news.un.org/en/tags/iraq
freq,1,4,1113,2,49,62511,1749,1749

### ***Checking and dropping of duplicate values***

In [ ]:
df[df['title'].duplicated()]['title'].value_counts()

Security Council extends mandate of UN peacekeeping force in Cyprus                   3
Security Council extends UN peacekeeping force in Lebanon for another year            2
Selecting the next UN Secretary-General: Informal briefings reopen                    2
UN chief condemns killing of peacekeeper in Central African Republic                  2
Ban recommends six-month extension of UN force in Golan Heights                       1
                                                                                     ..
Titanic wreckage to be protected under UNESCO convention                              1
One year on, UN pays tribute to resilience of Japanese quake survivors                1
Security Council extends mandate of monitoring group for Somalia and Eritrea          1
Head of UN agency defending press freedom deplores murder of Indian journalist        1
New group added to Security Council list of Al-Qaida operatives under UN sanctions    1
Name: title, Length: 69, dtype: int64

In [ ]:
df = df.drop_duplicates(subset=['title'], keep='first').reset_index(drop=True)

In [ ]:
df[df['title'].duplicated()]['title'].value_counts()

Series([], Name: title, dtype: int64)

In [ ]:
df.duplicated().sum()

0

In [ ]:
num_duplicates = df.duplicated().sum()

In [ ]:
print("Number of duplicate rows: ", num_duplicates)

Number of duplicate rows:  0

In [ ]:
df.describe(include=['O'])

,article_link,title,author,article_content,date_published,content_type,content_tags,content_tags_link
count,70415,70415,33540,70401,70415,70415,69559,69559
unique,70415,70415,8450,70398,30769,2,16948,16948
top,https://news.un.org/en/story/2023/03/1134602,Too many nations failing to investigate tortur...,UN Photo/Eskinder Debebe,The COVID19 pandemic is causing untold human s...,2010-09-23T00:00:00-04:00,story,Iraq,https://news.un.org/en/tags/iraq
freq,1,1,1111,2,49,62445,1744,1744

### ***Checking and dropping of missing values***

In [ ]:
df.isna().sum()

article_link             0
title                    0
author               36875
author_link          70415
article_content         14
date_published           0
content_type             0
content_tags           856
content_tags_link      856
dtype: int64

In [ ]:
df = df.dropna(subset = ['author', 'article_content', 'content_tags', 'content_tags_link']).reset_index(drop=True)

In [ ]:
df.isna().sum()

article_link             0
title                    0
author                   0
author_link          32822
article_content          0
date_published           0
content_type             0
content_tags             0
content_tags_link        0
dtype: int64

In [ ]:
df.describe(include=['O'])

,article_link,title,author,article_content,date_published,content_type,content_tags,content_tags_link
count,32822,32822,32822,32822,32822,32822,32822,32822
unique,32822,32822,8402,32820,25547,2,13261,13261
top,https://news.un.org/en/story/2023/03/1134602,Too many nations failing to investigate tortur...,UN Photo/Eskinder Debebe,Kaylee Werner was a teenager when a gunman att...,2013-03-14T00:00:00-04:00,story,Syria,https://news.un.org/en/tags/syria
freq,1,1,1093,2,21,26777,1239,1239

### ***Checking the number of words per article***

In [ ]:
df['word count'] = df['article_content'].str.split().str.len()

In [ ]:
df.head()

,article_link,title,author,author_link,article_content,date_published,content_type,content_tags,content_tags_link,word count
0,https://news.un.org/en/story/2023/03/1134602,Too many nations failing to investigate tortur...,UN Human Rights Monitoring Mission in Ukraine/...,NaN,States must be “primary responders” in torture...,2023-03-14T16:49:28-04:00,story,Prevention Of Torture,https://news.un.org/en/tags/prevention-torture,603
1,https://news.un.org/en/story/2023/03/1134582,"In Lebanon, UN deputy chief explores first-han...",ESCWA/Najib Dib,NaN,During a visit to a center for street children...,2023-03-14T15:54:39-04:00,story,Lebanon,https://news.un.org/en/tags/lebanon,1066
2,https://news.un.org/en/story/2023/03/1134587,"Think local, says new FAO report, pointing tow...",© UNICEF/Zhanara Karimova,NaN,Eight UN agencies on Tuesday published a new r...,2023-03-14T14:55:21-04:00,story,Regional Overview Of Food Security And Nutriti...,https://news.un.org/en/tags/regional-overview-...,511
3,https://news.un.org/en/audio/2023/03/1134572,News in Brief 14 March 2023,WHO,NaN,This is the News in Brief from the United Nati...,2023-03-14T13:42:28-04:00,audio,"World Food Programme,Unhcr,Oecd High-Income Co...",https://news.un.org/en/tags/world-food-program...,541
4,https://news.un.org/en/story/2023/03/1134567,More than half of all Syrians going hungry: WFP,© WFP/Hussam Al Saleh,NaN,More than half of the population in Syria is f...,2023-03-14T12:51:14-04:00,story,Syria,https://news.un.org/en/tags/syria,614

### ***Dropping articles whose word count is < 100***

In [ ]:
article_content = df[df['word count'] < 100]

In [ ]:
print(article_content)

                                       article_link  \
1287   https://news.un.org/en/story/2022/08/1125132
1471   https://news.un.org/en/audio/2022/07/1123182
2267   https://news.un.org/en/audio/2022/03/1114402
2621   https://news.un.org/en/audio/2022/01/1110582
2647   https://news.un.org/en/audio/2022/01/1110342
...                                             ...
11413  https://news.un.org/en/audio/2018/02/1002962
11453  https://news.un.org/en/story/2018/02/1002461
11715   https://news.un.org/en/audio/2017/12/640102
13888   https://news.un.org/en/story/2017/04/555822
17580   https://news.un.org/en/story/2016/05/528812

                                                   title  \
1287   Nearly 1,000 children killed or injured in Ukr...
1471                          News in Brief 25 July 2022
2267   UN Secretary-General's remarks to press on the...
2621   CLIP: UN Secretary-General's remarks to the Se...
2647   Secretary-General's remarks to the General Ass...
...                                                  ...
11413  Better data needed to protect children on the ...
11453  UN chief deeply saddened by tragic plane accid...
11715  Offline restrictions are finding way online, w...
13888  UN welcomes release of 26 Qatari abductees in ...
17580  Ban condemns deadly terrorist attack against p...

                                                  author  author_link  \
1287   © Courtesy of Lviv Territorial Medical Union H...          NaN
1471                             Unsplash/Pyae Sone Htun          NaN
2267                                            UN Photo          NaN
2621                            UN Photo/Eskinder Debebe          NaN
2647                                UN Photo/Mark Garten          NaN
...                                                  ...          ...
11413                           UNICEF/Tomislav Georgiev          NaN
11453                           UN Photo/Violaine Martin          NaN
11715                                 UN/Jean-Marc Ferré          NaN
13888                       UN Photo/JC McIlwaine (file)          NaN
17580                          World Bank/Dominic Chavez          NaN

                                         article_content  \
1287   Nearly 1,000 boys and girls have been killed o...
1471   UN condemns execution of 4 democracy activists...
2267   UN SecretaryGeneral's briefs the press on the ...
2621   UN SecretaryGeneral's remarks to the Security ...
2647   SecretaryGeneral's remarks to the General Asse...
...                                                  ...
11413  Intro:More than 1,200 child migrants have died...
11453  United NationsSecretaryGeneralAntónio Guterres...
11715  Restrictions that affect people in their daily...
13888  The United Nations has welcomed the release an...
17580  United Nations SecretaryGeneral Ban Kimoon tod...

                  date_published content_type  \
1287   2022-08-22T10:13:05-04:00        story
1471   2022-07-25T10:44:07-04:00        audio
2267   2022-03-22T10:51:47-04:00        audio
2621   2022-01-26T11:38:26-05:00        audio
2647   2022-01-21T15:35:07-05:00        audio
...                          ...          ...
11413  2018-02-16T16:12:24-05:00        audio
11453  2018-02-12T08:52:15-05:00        story
11715  2017-12-20T18:00:30-05:00        audio
13888  2017-04-22T00:00:00-04:00        story
17580  2016-05-09T00:00:00-04:00        story

                                            content_tags  \
1287                                    Ukraine,Children
1471   Myanmar,Human Rights,Syria,Detention Centres,H...
2267                            Ukraine,António Guterres
2621   Un Secretary-General António Guterres,Afghanistan
2647                  Secretary-General António Guterres
...                                                  ...
11413                                 Iom,Child Migrants
11453                                             Russia
11715  Human Rights,Syndication,David Kaye,Un Interne...
13888                                               East
17580                                              Egypt

                                       content_tags_link  word count
1287   https://news.un.org/en/tags/ukraine,https://ne...          87
1471   https://news.un.org/en/tags/myanmar,https://ne...          30
2267   https://news.un.org/en/tags/ukraine,https://ne...          80
2621   https://news.un.org/en/tags/un-secretary-gener...          56
2647   https://news.un.org/en/tags/secretary-general-...          44
...                                                  ...         ...
11413  https://news.un.org/en/tags/iom,https://news.u...          63
11453                 https://news.un.org/en/tags/russia          93
11715  https://news.un.org/en/tags/human-rights,https...          78
13888                   https://news.un.org/en/tags/east          84
17580                  https://news.un.org/en/tags/egypt          99

[81 rows x 10 columns]

In [ ]:
df.drop(df[df['word count'] < 100].index, inplace=True)

In [ ]:
df.describe(include=['O'])

,article_link,title,author,article_content,date_published,content_type,content_tags,content_tags_link
count,32741,32741,32741,32741,32741,32741,32741,32741
unique,32741,32741,8394,32739,25468,2,13191,13191
top,https://news.un.org/en/story/2023/03/1134602,Too many nations failing to investigate tortur...,UN Photo/Eskinder Debebe,Kaylee Werner was a teenager when a gunman att...,2013-03-14T00:00:00-04:00,story,Syria,https://news.un.org/en/tags/syria
freq,1,1,1091,2,21,26769,1239,1239

### ***Exporting the CSV file***

In [ ]:
df.to_csv('un_articles_validated_v1.csv', index=False)